*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);

  
/*  outline: 1px solid red;*/
}

body {
    display: flex;
    background-color: rgb(230, 228, 228);
}

.image-container{
    background-image: url(assets/loginbg.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e2dfd0;
    width: 40%;
    display: flex;
}

.name{
    color: rgb(255, 255, 255);
    align-self: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.274);
    text-align: center;
    padding: 20px;
}

.form-container{
    height: fit-content;
    width: 60%;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
}

.form-items{
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(22, 22, 22, 0.418);
    gap: 20px;
    padding: 20px;
    font-weight: bold;
}
.form-items h1{
    width: 100%;
}
.form-items input{
    border-color: #a8a8a8;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

.form-items div{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.form-items div span{
    order: -1;
    align-self:initial;
    width: 100%;
}
.form-items div input{
    width: 80%;
}
.form-items span{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.submit-container{
    width: 100%;
    display: inline;
    
}

.btm-text{
    width: 100%;
}

.submit-container button{
    background-color: rgba(0, 0, 0, 0);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 20px;
}
.submit-container p{
    margin: 20px;
    display: flex;
}


